body {
  background-color: #4872a0;
}

.container,
.containerServices {
  display: block;
  margin: 100px auto;
  max-width: 1200px;
  padding: 20px;
  border: 2px solid aliceblue;
  border-radius: 15px;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 50px;
}
a {
  text-decoration: none;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  color: #4872a0;
}
a:hover {
  color: red;
}
h1,
h2,
h3,
p {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 65px;
  margin-bottom: 0;
}
.official {
  color: whte;
}
h2 {
  font-size: 40px;
  padding-top: 0;
}
p,
h2 {
  line-height: 1.5;
}
p {
  font-size: 30px;
}
img {
  display: block;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 15px;
}
ul {
  list-style: none;
  display: block;
  margin: 0, auto;
}

li {
  font-size: 20px;
  color: aliceblue;
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
